{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Order</title>
{% endblock %}

{% block header %}
    {% include 'components/header.html' %}
{% endblock %}


{% block content %}
<div class="container ">
    <h2>Items ordered:</h2>
<div class="text-center">
    {% for ele in list %}
        <p>{{ ele }}</p>
    {% endfor %}
    <p>Address : {{ address }}</p>
    <form action="/customer/order-confirmed/" method="post">{% csrf_token %}
    <button type="submit" value="{{ order }}" class="btn btn-dark" name="order">Confirm</button>
        </form>
</div>

</div>
{% endblock %}
</div>



{% block footer %}
    {% include 'components/footer.html' %}
{% endblock %}