{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Orders</title>
{% endblock %}


{% block header %}
{% include 'components/header.html' %}
{% endblock %}


{% block content %}

    <div class="container">
    <div class="row">
        <div class="col-3">
            <div class="text-center ">
                <a href = '{{ request.user.get_url }}' style="color: black;font-size: 2rem" >{{user.name}} </a>
            </div>
            <p>Username:&nbsp;&nbsp;{{user.username}} </p>
            <p>email:&nbsp;&nbsp;{{user.email}} </p>
            <p>CNIC:&nbsp;&nbsp;{{user.cnic}} </p>
            <p>Phone Number:&nbsp;&nbsp;{{user.PhoneNo}} </p>

        </div>
        <div class="col-9 text-center ">
            {% for order in orders %}
                <div class="card">
                  <h5 class="card-header">Order Id: {{ order.id }}</h5>
                  <div class="card-body">
                    <h5 class="card-title">Order Date/Time: {{ order.ordered_at }}</h5>
                      {% if order.delivered %}
                        <h5 class="card-title">Status: Delivered</h5>
                      {% elif  order.confirmed %}
                        <h5 class="card-title">Status: Confirmed by admin</h5>
                    {% else %}
                        <h5 class="card-title">Status: Not confirmed by admin</h5>
                    {% endif %}
                    <a href="{{ order.get_url }}" class="btn btn-primary">View Details</a>
                  </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}

</body>
</html>