{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="text-center ">
                <h3>{{user.name}} </h3>
            </div>
            <div class="text-center"   >
                <img class=' mx-auto rounded' src={% static 'img/logo.png' %} width="140" height="140" alt="">
            </div>
        </div>
        <div class="col-9 text-center bg-light">
            <h1>This is Home page</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}