{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Requests</title>
{% endblock %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-12">
        <h1>{{ user.name }}</h1>
        <h1>{{ user.username }}</h1>
        <h1>{{ user.email }}</h1>
        <h1>{{ user.cnic }}</h1>
        <h1>{{ user.PhoneNo }}</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="post" action="" novalidate>{% csrf_token %}
                <input type="radio" name="selected" value="1">Approved
                <input type="radio" name='selected' value="2">Not Approved
                <input type="radio" name="selected" value="3">Block
                <br><button type="Submit" class="btn btn-dark">Save</button>
             </form>
        </div></div>

</div>
</div>
{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}