{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Requests</title>
{% endblock %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-12">
        <h1>{{ user.name }}</h1>
        <h1>{{ user.username }}</h1>
        <h1>{{ user.email }}</h1>
        <h1>{{ user.cnic }}</h1>
        <h1>{{ user.PhoneNo }}</h1>
    </div>
    {% if request.user.is_superuser and not user.is_superuser %}
    <div class="row">
        <div class="col-12">
            <form method="post" action="" novalidate>{% csrf_token %}
                <input type="radio" name="selected" value="1">Approved<br>
                <input type="radio" name='selected' value="2">Not Approved<br>
                <input type="radio" name="selected" value="3">Block<br>
                 Number of Bottles:<input type='text' name='NoOfBottles' value='{{ user.NoOfBottles }}'><br>
                 Monthly Bill:<input type='text' name='MonthlyBill' value='{{ user.MonthlyBill }}'><br>
                 Amount Due:<input type='text' name='AmountDue' value='{{ user.AmountDue }}'><br>
                <br><button type="Submit" class="btn btn-dark">Save</button>
             </form>
        </div>
    </div>

    {% endif %}
    {% if not user.is_superuser  and not request.user.is_superuser%}
    <div class="row">
    <div class="col-12">
        <h1>Bottles: {{ user.NoOfBottles }}</h1>
        <h1>Bill:{{ user.MonthlyBill }}</h1>
        <h1>Pending Amount: {{ user.AmountDue }}</h1>
    </div>
    </div>

    {% endif %}


</div>
</div>
{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}