{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Requests</title>
{% endblock %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3 bg-light">
            <div class="text-center ">
                <a href = '{{ request.user.get_url }}' style="color: black;font-size: 2rem" >{{requesting.name}} </a>
            </div>

            <div class="row">
                <div class="col">
                    <p>Username:&nbsp;&nbsp; </p>
                </div>
             </div>
            <div class="row">
               <div class="col text-center">
                        <p>{{requesting.username}} </p>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Email:&nbsp;&nbsp; </p>
                </div>
             </div>
            <div class="row">
               <div class="col text-center">
                        <p>{{requesting.email}} </p>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Phone Number:&nbsp;&nbsp; </p>
                </div>
             </div>
            <div class="row">
               <div class="col text-center">
                        <p>{{requesting.PhoneNo}} </p>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>CNIC:&nbsp;&nbsp; </p>
                </div>
             </div>
            <div class="row">
               <div class="col text-center">
                        <p>{{requesting.cnic}} </p>
               </div>
            </div>




        </div>


        <div class="col-9 bg-light">
        <h1 class="text-center">User Requests</h1>
    {% if users %}
            {%for us in users %}
                <div class="card mb-3">
                    <div class="text-center">
                      <h5 class="card-header">{{ us.name }}</h5>
                    </div>
                <div class="row mt-3">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <h5 class="card-title ml-lg-3">Username:</h5>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-6">
                        <h5 class="card-title">{{us.username}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h5 class="col-lg-3 col-md-6 col-sm-6">Email:</h5>
                    </div>
                    <div class="col-lg-8 col-md-6 col-sm-6">
                        <h5 class="card-title">{{us.email}}</h5>
                    </div>
                </div>

                <div class="text-center my-3">
                    <a href="{{ order.get_url }}" class="btn btn-primary">View Details</a>
                </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
         <h5 class="text-center overflow-hidden mt-5">No user request found</h5>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}