{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Requests</title>
{% endblock %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3 bg-light">
            <div class="text-center ">
                <a href = '{{ request.user.get_url }}' style="color: black;font-size: 2rem" >{{requesting.name}} </a>
            </div>

            <div class="row">
                <div class="col">
                    <p>Username:&nbsp;&nbsp; </p>
                </div>
             </div>
            <div class="row">
               <div class="col text-center">
                        <p>{{requesting.username}} </p>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Email:&nbsp;&nbsp; </p>
                </div>
             </div>
            <div class="row">
               <div class="col text-center">
                        <p>{{requesting.email}} </p>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Phone Number:&nbsp;&nbsp; </p>
                </div>
             </div>
            <div class="row">
               <div class="col text-center">
                        <p>{{requesting.PhoneNo}} </p>
               </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>CNIC:&nbsp;&nbsp; </p>
                </div>
             </div>
            <div class="row">
               <div class="col text-center">
                        <p>{{requesting.cnic}} </p>
               </div>
            </div>




        </div>


        <div class="col-9 bg-light">
        <h1 class="text-center">User Requests</h1>
    {% if users %}
            {%for us in users %}
                <div class="row">
                 <div class="col">
                    <div class="row bg-secondary border-dark border  mt-2 mb-2 pt-2 pb-2 rounded text">

                        <a class="pl-2 col-3 overflow-hidden text-center" href='{{ us.get_url }}' style="color:black;font-size: 1.4em;">{{ us.name }}</a>
                            <div class="col-5 ml-2">
                                <div class="row">
                                    <p class="col-6 text-left">Username:{{ us.username }}</p>

                                </div>
                                <div class="row">
                                    <p class="col-6 text-left">Email:{{ us.email }}</p>

                                </div>
                            </div>
                    </div>
                 </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
         <h5 class="text-center overflow-hidden mt-5">No user request found</h5>
    {% endif %}
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}