{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block content %}

        {% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="text-center ">
                <h3>{{user.name}} </h3>
            </div>
            <p>Username:&nbsp;&nbsp;{{user.username}} </p>
            <p>email:&nbsp;&nbsp;{{user.email}} </p>
            <p>CNIC:&nbsp;&nbsp;{{user.cnic}} </p>
            <p>Phone Number:&nbsp;&nbsp;{{user.PhoneNo}} </p>

        </div>
        <div class="col-9 text-center bg-light">
            <h1>This is Home page</h1>
        </div>
    </div>
</div>

        {% endif %}
{% endblock %}

{% block footer %}
{% include 'components/footer.html' %}
{% endblock %}